body {
    font-family:"Roboto", sans-serif;
    color: #434455;
    background-color:#ffffff;
}
p, h1, h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none; 
    color:currentColor;
}

ol, ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

button{
    cursor: pointer;
}
address{
    font-style: normal;
}
.container{
    width: 100%;
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto; 
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*?--------------------------HEADER-----------------*/

.header {
    
    border-bottom: 1px solid #E7E9FC;
    background: #FFF;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container{
    padding: 16px;
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-logo {
    color:#4d5ae5;
    font-family:"Raleway", sans-serif;
    font-size:18px;
    font-weight:700;
    line-height:1.17;
    letter-spacing:0.03em;
    text-transform:uppercase;
    margin-right: 76px;

}

.header-logo-part{
    color:#2e2f42;
}

.header-menu-list {
    display: none;
    gap: 40px;
}

.header-menu-item {

}

.heaader-menu-link {
    color:#2E2F42;
    font-size:16px;
    font-weight:500;
    line-height:1.5;
    letter-spacing:0.02em;
    padding: 24px 0 ;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current{
    position: relative; 
    color: #404bbf;
}
.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404BBF;
    height: 4px;
    width: 100%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.heaader-menu-link:hover,
.heaader-menu-link:focus {
    color:#404BBF;
}

.header-addres {
    font-style:normal;
    margin-left: auto;
}

.header-addres-list {
    display: none;
    gap: 40px;
}

.header-addres-item:not(:last-child){
    margin-bottom: 12px;
}

/* .heaader-addres-link {
    color:#434455;
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
} */
.heaader-addres-link:hover,
.heaader-addres-link:focus {
    color:#404BBF;
}

.menu-open-btn {
    border: none;
    background-color:#FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon-btn {
    fill: #2F2F37;
}
/* ?--------------------mob-menu---------------------- */

.mob-menu {
    position: fixed;
    top:0;
    background-color: #FFF;;
    width: 100%;
    height: 100vh;
    padding-top: 72px;
    padding-right: 24px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.menu-close-btn {
        position: absolute;
        right: 24px;
        top: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        padding: 0;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.10);
        background-color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-class-icon {}

.mob-menu-list {
}

.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-link {
    color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.mob-current {
    position: relative;
    color: #404bbf;
}
.mob-current::after {
    /* content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404BBF;
    height: 4px;
    width: 100%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.mob-menu-link:hover,
.mob-menu-link:focus {
    color: #404BBF;
}

.mob-addres-list {
    margin-top: 48px;
    margin-bottom: 48px;
}

.mob-addres-item:not(:last-child){
    margin-bottom: 24px;
}

.mob-addres-link {
    color: #434455;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-addres-link:hover,
.mob-addres-link:focus {
    color: #4D5AE5;
}
.mob-list-icon {
    padding-bottom: 40px;
    display: flex;
        gap: 40px;
        align-items: center;
}

.mob-item-lcon .mob-link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4D5AE5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-item-lcon .mob-link:hover,
.mob-item-lcon .mob-link:focus {
    background-color: #404BBF;
}

.mob-icon {
    fill: #f4f4fd;
}



/*!----------------------------------------*/
/*?------------------HERO------------------*/

.hero {
    padding: 72px 0;
    background-color: #2E2F42;
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.70),
    rgba(46, 47, 66, 0.70)
    ),
    url(../images/Dark-bg-mob-min.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}
@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 2dppx), (min-resolution: 192dpi){
    .hero{ background-image: linear-gradient(
        rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)),
        url(../images/dark-bg-mob-2x-min.jpg);
}
}

.hero-container{
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}

.hero-title {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0  auto;
    max-width: 190px;
    margin-bottom: 72px;
}

.hero-btn {
    background-color:#4D5AE5;
    color:#ffffff;
    cursor:pointer;
    font-family:"Roboto", sans-serif;
    font-size:16px;
    font-weight:500;
    line-height:1.5;
    letter-spacing:0.04em;
    border: none;
    text-align: center;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    height: 56px;

    padding: 16px 32px;
    margin: 0 auto;
    align-items: flex-start;
    gap: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus{
    background-color:#404BBf;
}
/*!------------------------------------------*/

/*?---------------FEATURES-------------------*/
.features {
    padding: 96px 0;

}

.secondary-title {}

.features-list-bord {
    display: flex;
    gap: 24px;
    /* margin-bottom: 8px; */
}

.features-item-bord {
    display: none;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
    margin-bottom: 8px;
}
.features-icon{
}
.features-list {

}

.features-item:not(:last-child) {
    margin-bottom: 72px;

}

.features-subtitle {
    text-align: center;
    color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    margin-bottom: 8px;
}

.features-item-text {
    color:#434455;
    font-size:16px;
    font-weight:500;
    line-height:1.5;
    letter-spacing:0.02em;
}
/*!------------------------------------------*/
/*?---------------TASTE----------------------*/
.taste {
    background: #F4F4FD;
    padding: 96px 0;
}

.taste-title {
    color:#2E2F42;
    text-align:center;
    font-size:36px;
    font-weight:700;
    line-height:1.11;
    letter-spacing:0.02em;
    text-transform:capitalize;
    margin-bottom: 72px;
}


.taste-list {

}

.taste-item {
        margin: 0 auto;
        margin-bottom: 72px;
        width: 264px;
        background: #FFF;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.last {
    margin-bottom: 0;
}

.taste-img { 

}
.taste-name{
    padding: 32px 0;
}

.taste-subtitle {
    color:#2E2F42;
    text-align:center;
    font-size:20px;
    font-weight:500;
    line-height:1.2;
    letter-spacing:0.02em;
    margin-bottom: 8px;
}

.taste-item-text {
    color: #434455;
    text-align:center;
    font-size:16px;
    font-weight:400;
    line-height:1.5;
    letter-spacing:0.02em;
    margin-bottom: 8px;
}
.taste-list-icon{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
.taste-item-lcon .link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.taste-item-lcon .link:hover,
.taste-item-lcon .link:focus{
    background-color: #404BBF;
}
.taste-item-lcon .icon {
    fill: #f4f4fd;
}

/*!------------------------------------------*/

/*?-------------------MADE-------------------*/

.made {
    padding:96px 0;
} 

.made-title {
    color:  #2E2F42;
    text-align:center;
    font-size:36px;
    font-weight:700;
    line-height:1.11;
    letter-spacing:0.02em;
    text-transform:capitalize;
    margin-bottom: 72px;
}

.made-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.made-item {
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.made-cover-wrap{
    position: relative;
    overflow: hidden;    
}
.made-item:hover .made-cover-text{
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.made-item:hover{
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.made-text-wrap{
}
.made-img{
    margin: 0 auto;
}

.made-cover-text{
    color:  #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    padding: 40px 32px;
    background-color: #4D5AE5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.made-item-titlle{
    padding: 0px 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #E7E9FC;
    background:  #FFF;
    border-top:none;
}
.made-subtitle {
    color: #2E2F42;
    font-size:20px;
    font-weight:500;
    line-height:1.2;
    letter-spacing:0.02em;
    margin-bottom: 8px;
}

.made-item-text {
    color: #434455;
    font-size:16px;
    font-weight:400;
    line-height:1.5;
    letter-spacing:0.02em;
}
/*!------------------------------------------*/

/*?-----------------FOORET-------------------*/
.footer {
    /* display: flex; */
    background-color:  #2E2F42;
    /* padding: 100px 0; */
    padding: 96px 0;
}

.footer-link {
    color: #4d5ae5;
    font-family:"Raleway", sans-serif;
    font-size:18px;
    font-weight:700;
    line-height:1.17;
    letter-spacing:0.03em;
    text-transform:uppercase;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.footer-logo-part{
    color:#f4f4fd;
}

.footer-text {
    color:#F4F4FD;
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.02em;
    max-width: 264px;
}

.footer-text-social{
    text-align: center;
    /* margin-top: 72px; */
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.footer-list-icon {
    justify-content: center;
    display: flex;
    gap: 16px;
}

.footer-item-lcon .footer-link-soc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-item-lcon .footer-link-soc:hover,
.footer-item-lcon .footer-link-soc:focus{
    background-color: #31D0AA;
}
.footer-icon{
    fill: #f4f4fd;
}

.footer-container{
}
.footer-logo{
    /* margin-right: 120px; */
}
.footer-container-soc{
    margin-top: 72px;
}

.footer-form{
    text-align: center;
   
}
.footer-input{
    width:264px;
    height:40px;
    background-color:  transparent;
    border-radius: 4px;
    border: none;
    border: 1px solid  #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 8px;
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 2.0;
    letter-spacing: 0.04em;
}
.footer-text-input{
    /* margin-top: 72px; */
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;

}

.footer-form-btn{
    margin: 0 auto;
    margin-top: 16px;
    min-width: 165px;
    height: 40px;
    color: #FFF;
    text-align: center;
    border: none;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 8px ;
    border-radius: 4px;
    background-color:  #4D5AE5;
    display: flex;
    gap: 16px;           
}
.footer-input-icon{
    width: 24px;
    height: 24px;
    /* margin-left: 16px; */
    fill: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
.footer-modal{
    margin-top: 72px;
    /* margin-left: 40px; */
    /* margin: 0 auto; */
}

/* !----------------------------------------- */
/* ?-----------------modal------------------- */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    padding: 72px 16px 24px 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    background:  #FCFCFC;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #E7E9FC;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus{
    background-color: #404BBF;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover > .modal-class-icon,
.modal-close-btn:focus > .modal-class-icon{
    fill: #FFFFFF;
}

.modal-class-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-tittle{
    color:#2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.modal-filt{
    margin-bottom: 8px;
}
.modal-input-wrap {
    position: relative;
}

.modal-input{
    outline: transparent;
    width: 256px;
    min-height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus,
.modal-input:hover{
    border-color:  #4D5AE5;
}

.modal-input:focus + .modal-icon,
.modal-input:hover + .modal-icon{
    fill:#4D5AE5;
}

.modal-label{
    display: block;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}
.modal-check-icone{
    display: inline-flex;
    margin-right: 8px;
}
.modal-icon {
    fill: #2E2F42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    width: 256px;
    color: rgba(46, 47, 66, 0.4);
    height: 120px;
    border-radius: 4px;
    border: 1px solid  rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-comment:hover,
.modal-comment:focus{
    border-color: #4D5AE5;
}
.modal-filt-title{
    margin-bottom: 24px;

}
.modal-filt-comment{
    margin-bottom: 16px;
}

.check-text{
    display: flex;
    align-items: center;
    color:  #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;    
}
.check-text a{
    color:  #4D5AE5;
    text-decoration: underline;  
}

.check-text span{
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked + .check-text  span{
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}
.modal-form-btn{
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    color:  #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background: #4D5AE5;  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    display: block;
    padding: 16px 32px;
    align-items:center;
    /* margin-left: 96px; */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ?------------------------------------------------------------------------ */
/* !------------------------------------------------------------------------- */
/* ?------------------------------------------------------------------------ */

@media screen and (min-width:768px) {
    .container{
        max-width: 768px;
    }
    .made-list{
        gap: 72px 24px;
        }
    .made-item {
        width: calc((100% - 24px ) / 2);
        }


        .taste>.container {
            max-width: 552px;
        }
        .taste-list {
            display:flex;
            flex-wrap: wrap;
            gap:  64px 24px;
        }
        .taste-item {
                width: calc((100% - 24px) / 2);
                margin-bottom: 0;
        }


        .features-list {
            display: flex;
            flex-wrap: wrap;
            gap: 72px 24px; 
        }
        .features-item {
            /* margin-bottom: 0; */
            width: calc((100% - 24px ) / 2);
        }
                .features-item:not(:last-child) {
                    margin-bottom: 0;
                }
                .features-subtitle {
                    text-align: start;
                }

        .hero {  
            padding: 112px 0;
            background-image: linear-gradient(
                rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
                url(../images/dark-bg-tab-min.jpg);
        }
        .hero-title {
            margin-bottom: 36px;
            font-size: 56px;
            max-width: 496px;
        }
                @media screen and (min-device-pixel-ratio: 2),
                (min-resolution: 2dppx),
                (min-resolution: 192dpi) {
                    .hero {
                        background-image: linear-gradient(
                            rgba(46, 47, 66, 0.70),
                            rgba(46, 47, 66, 0.70)),
                            url(../images/dark-bg-tab-2x-min.jpg);
                    }
                }

        .footer{
            padding: 96px 0;
        }
                .footer> .container {
                    max-width: 552px;
                }
        .footer-link{
            justify-content:flex-start;
            display: inline-block;
        }
        .footer-container-one {
            gap: 24px;
            display: flex;
        }
        .footer-text-social{
            text-align:start;
            margin-top:unset;
        }
        .footer-container-soc {
            margin-top: unset;
            /* margin-left: 24px; */
        }
        .footer-text-input {
            text-align: start;
        }
        .footer-form {
            display: flex;
            gap: 24px;
        }
        .footer-form-btn {
             margin:unset;
            margin-top: unset;
        }



        .modal{
        padding: 72px 24px 24px 24px;
        width: 408px;
        min-height: 584px;
        }
        .modal-input,.modal-comment{
            width: 360px;
        }

        .header-menu-list {
            display: flex;
        }
        .header-addres-list {
            display: block;
        }
                .heaader-addres-link {
                    color: #434455;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
        .header-container{
            padding: 0;
            padding-left: 16px;
            padding-right: 16px;
        }
        .menu-open-btn, .mob-menu{
            display: none;
        }
}
/** -------------------------------------------------------------------------- */
@media screen and (min-width:1158px){
    .container {
        max-width: 1158px;
    }
        .made {
            padding:120px 0;     
        }
        .made-list {
            gap: 48px 24px;
        }
        .made-item {
            width: calc((100% - 24px * 2) / 3);
        }


        .taste > .container {
            max-width: 1158px;
        }
        .taste-list {
            display: flex;
            flex-wrap: nowrap;
            gap: 24px;
        }
        .taste-item {
            width: calc((100% - 24px * 3) / 4);
            margin-bottom: 0;
        }


        .features-list {
            display: flex;
            flex-wrap: nowrap;
            gap: 24px;
        }
        .features-item {
            width: calc((100% - 24px * 3 ) / 4 );
        }
        .features-item-bord {
            display: flex;
        }
        .features-subtitle {
                font-size: 20px;
                font-weight: 500;
                line-height: 1.2;
            letter-spacing: 0.02em;
        }
                .features-item-text {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1.5;
                        letter-spacing: 0.02em;
                }
        .features-item:not(:last-child){
            margin-bottom: 0;
        }


        .hero {
            padding: 188px 0;
            background-image: linear-gradient(
                rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
                url(../images/beagraund.jpg);
        }
                @media screen and (min-device-pixel-ratio: 2),
                (min-resolution: 2dppx),
                (min-resolution: 192dpi) {
                    .hero {
                        background-image: linear-gradient(
                            rgba(46, 47, 66, 0.70),
                            rgba(46, 47, 66, 0.70)),
                            url(../images/dark-bg-dc-2x-min.jpg);
                    }
                }
        .hero-title {
            margin-bottom: 48px;
        }


        .footer {
            padding: 100px 0; 
        }
                .footer>.container {
                    max-width: 1158px;
                }
        .footer-container {
            gap: 80px;
            display: flex;
        align-items: baseline;
        }
        .footer-text-input {
            margin-top: unset;
            text-align: start;
            }
         .footer-container-one{
            gap: 120px;
         }
        .footer-logo {
            /* margin-right: 120px; */
        }
        .footer-modal {
            margin-top: unset;
            /* margin-left: 40px; */
        }
        .footer-container-soc {
            margin-left: unset;
        }

        .header-addres-list {
            display: flex;
        }
        .heaader-addres-link {
            font-size: 16px;
        }
        .header-addres-item:not(:last-child) {
            margin-bottom: 0;
        }
}